# file options

--swiftversion 5.0
--exclude .build

# format options

--self insert
--patternlet inline
--stripunusedargs unnamed-only
--ifdef no-indent

# rules

--disable redundantParens # https://github.com/nicklockwood/SwiftFormat/issues/638
