version: "3"

services:

  runtime-setup:
    image: swift-log:22.04-5.10
    build:
      args:
        base_image: "swiftlang/swift:nightly-5.10-jammy"

  test:
    image: swift-log:22.04-5.10
    environment:
      - WARN_AS_ERROR_ARG=-Xswiftc -warnings-as-errors
      - EXISTENTIAL_ANY_ARG=-Xswiftc -enable-upcoming-feature -Xswiftc ExistentialAny
      #- SANITIZER_ARG=--sanitize=thread

  shell:
    image: swift-log:22.04-5.10
