version: "3"

services:

  runtime-setup:
    image: swift-log:22.04-5.9
    build:
      args:
        ubuntu_version: "jammy"
        swift_version: "5.9"

  test:
    image: swift-log:22.04-5.9
    environment:
      #- SANITIZER_ARG=--sanitize=thread

  shell:
    image: swift-log:22.04-5.9
